<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.douyin_feed.mapper.master.MediaFilesMapper">
    <resultMap id="mediaFilesMapper" type="com.example.douyin_feed.domain.po.DyMedia">
        <!--手动指定字段与实体属性的映射关系
            column: 数据表的字段名称
            property：实体的属性名称
        -->
        <id column="id" property="id"></id>
        <result column="mediaUrl" property="mediaUrl"></result>
        <result column="status" property="status"></result>
        <result column="md5" property="md5"></result>
        <result column="author" property="author"></result>
        <association property="dyPublish" javaType="com.example.douyin_feed.domain.po.DyPublish">
            <id column="mediaId" property="mediaId"></id>
            <result column="id" property="id"></result>
            <result column="fileName" property="fileName"></result>
            <result column="title" property="title"></result>
            <result column="uploadTime" property="uploadTime"></result>
            <result column="updateTime" property="updateTime"></result>
            <result column="author" property="author"></result>
            <result column="status" property="status"></result>
            <result column="type" property="type"></result>
            <result column="imgUrl" property="imgUrl"></result>
            <result column="tag" property="tag"></result>
        </association>
    </resultMap>


    <select id="findMediaUrlAndUpdateTimeByUserId" resultMap="mediaFilesMapper">
        select * from dy_media o LEFT JOIN dy_publish u on o.id=u.mediaId where o.author=#{userId}  ORDER BY o.id
    </select>

    <select id="findMediaUrlAndUpdateTimeByStatus" resultMap="mediaFilesMapper">
        select * from dy_media o LEFT JOIN dy_publish u on o.id=u.mediaId where u.status=#{status} ORDER BY o.id
    </select>

</mapper>
