<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.douyin_publish.mapper.master.PublishMapper">
    <resultMap id="userLikeFilesMapper" type="com.example.douyin_publish.domain.po.DyPublish">
        <!--手动指定字段与实体属性的映射关系
            column: 数据表的字段名称
            property：实体的属性名称
        -->
        <id column="id" property="id"></id>
        <result column="mediaId" property="mediaId"></result>
        <result column="fileName" property="fileName"></result>
        <result column="title" property="title"></result>
        <result column="uploadTime" property="uploadTime"></result>
        <result column="updateTime" property="updateTime"></result>
        <result column="uploadTime" property="uploadTime"></result>
        <result column="author" property="author"></result>
        <result column="status" property="status"></result>
        <result column="type" property="type"></result>
        <result column="imgUrl" property="imgUrl"></result>
        <result column="tag" property="tag"></result>
        <association property="dyMedia" javaType="com.example.douyin_publish.domain.po.DyMedia">
            <id column="id" property="id"></id>
            <result column="mediaUrl" property="mediaUrl"></result>
            <result column="status" property="status"></result>
            <result column="md5" property="md5"></result>
            <result column="author" property="author"></result>
            <result column="likeCount" property="likeCount"></result>
            <result column="forwardCount" property="forwardCount"></result>
            <result column="readCount" property="readCount"></result>
        </association>
    </resultMap>

    <select id="findUrl" resultMap="userLikeFilesMapper">
        select * from dy_publish o LEFT JOIN dy_media m on o.mediaId=m.id ORDER BY o.id
    </select>
</mapper>